.main-page {
  width: 100%;
  min-height: 100vh;
  background-color: floralwhite;
  &__search {
    display: block;
    width: 300px;
    padding: 10px 12px;
    margin: 0 auto;
    font-size: 16px;
    border: none;
    border-bottom: 3px solid #ddd;
    border-radius: 3px;
    background-color: white;
    outline: none;
  }
  &-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 20px;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    @media (max-width: 1200px) {
      max-width: 876px;
    }
    @media (max-width: 876px) {
      max-width: 576px;
    }
    @media (max-width: 576px) {
      max-width: 320px;
    }
  }
  &-card {
    margin: 20px;
    padding: 20px;
    background-color: white;
    border-radius: 3px;
    cursor: pointer;
    .card {
      &__image {}
      &__title {
        font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
        font-weight: bold;
        text-align: center;
      }
    }
  }
}
